<div class="modal fade" id="modal_loading" tabindex="-1" role="dialog" aria-hidden="true" style="max-width: 100%; max-height: 100%;">
	<div class="modal-dialog modal-12" style="height: 90%;">
		<div class="loading_modal" ></div>
  </div>
</div>
<header>
	<style type="text/css">
		.loading_modal {
		    position: relative;
		    width: 250px;
		    height: 250px;
		    top: 40%;
		    left: 40%;
		    border-radius: 300px;
		    box-shadow: 0 10px 0 0 #49b8ef;
		    -ms-animation: uil-ring-anim 1s linear infinite;
		    -moz-animation: uil-ring-anim 1s linear infinite;
		    -webkit-animation: uil-ring-anim 1s linear infinite;
		    -o-animation: uil-ring-anim 1s linear infinite;
		    animation: uil-ring-anim 1s linear infinite;
		}
	</style>
</header>
